body {
    padding-top: 70px;
}

.padd0 {
    padding: 0px !important;
}

.padd5 {
    padding: 5px !important;
}

.padd10 {
    padding: 10px !important;
}

.padd15 {
    padding: 15px !important;
}

.mr0 {
    margin: 0px !important;
}

.pLR5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pLR10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pLR15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mt1 {
    margin-top: 1px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mt4 {
    margin-top: 4px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt6 {
    margin-top: 6px !important;
}

.mt7 {
    margin-top: 7px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mt9 {
    margin-top: 9px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb1 {
    margin-bottom: 1px !important;
}

.mb2 {
    margin-bottom: 2px !important;
}

.mb3 {
    margin-bottom: 3px !important;
}

.mb3 {
    margin-bottom: 4px !important;
}

.mb4 {
    margin-bottom: 5px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.ht50 {
    height: 50px;
}

.ht60 {
    height: 60px;
}

.ht70 {
    height: 70px;
}

.ht80 {
    height: 80px;
}

.ht90 {
    height: 90px;
}

.ht50 {
    height: 50px;
}

.ht100 {
    height: 100px;
}

.width-50 {
    width: 50px !important;
}

.width-60 {
    width: 60px !important;
}

.width-70 {
    width: 70px !important;
}

.width-80 {
    width: 80px !important;
}

.width-90 {
    width: 90px !important;
}

.width-100 {
    width: 100px !important;
}

.width-110 {
    width: 110px !important;
}

.width-120 {
    width: 120px !important;
}

.width-130 {
    width: 130px !important;
}

.width-150 {
    width: 140px !important;
}

.width-150 {
    width: 150px !important;
}

.width-160 {
    width: 160px !important;
}

.Dblock {
    display: block;
}

.no-resize {
    resize: none;
}

.border-LT-gray {
    border: 1px solid #e7eaec;
}

.btn-success {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.btn-success:hover, .btn-success.active, .btn-success:focus {
    background: #179a80;
}

.title-red {
    background: #c34552;
    color: #fff;
}

.title-navy {
    background: #0880b1;
    color: #fff;
}

.title-lazur {
    background: #1a999a;
    color: #fff;
}

.title-yellow {
    background: #d67d1c;
    color: #fff;
}

.title-green {
    background: #179a80;
    color: #fff;
}

.ibox-bdr-red {
    border-top: 1px solid #c34552;
}

.ibox-bdr-navy {
    border-top: 1px solid #0880b1;
}

.ibox-bdr-lazur {
    border-top: 1px solid #1a999a;
}

.ibox-bdr-yellow {
    border-top: 1px solid #d67d1c;
}

.ibox-bdr-green {
    border-top: 1px solid #179a80;
}

.green-bg {
    background-color: #1ab394;
    color: #ffffff;
}

.loginscreen.middle-box {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
}

.logo-box {
    display: block;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #e7eaec;
    margin-bottom: 10px;
}

.full-btn-group {
    width: 100%;
}

.logo-login {
    width: 100%;
    max-width: 220px;
    height: auto;
    margin: 0px auto;
}

.logo-login img {
    width: 100%;
    height: auto;
}

.login-content {
    display: block;
    padding: 20px;
}

.btn-group-login {
    width: 50%;
    display: inline-block;
}

.btn-primary.active.focus {
    background-color: #0f8cbf;
    border-color: #0f8cbf;
    color: #FFFFFF;
    box-shadow: none;
    outline: none;
}

.logo-dashboard {
    display: inline-block;
    float: left;
    width: 100%;
    max-width: 220px;
    height: auto;
    padding: 13px 15px;
    border-right: 1px solid #ddd;
}

.logo-dashboard img {
    width: 100%;
    height: auto;
}

.nav-header {
    padding: 20px 15px
}

.profile-element img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.navbar-top-links li a {
    padding: 11px 10px;
}

.minimalize-styl-2 {
    margin: 19px 5px 5px 20px;
}

.dropdown-menu.dropdown-alerts {
    width: 160px;
    padding: 0px 5px;
}

.navbar-top-links .dropdown-menu li a {
    padding: 0px;
}

.ibox {
    border: 1px solid #e7eaec;
    border-top: 0px;
}

.ibox-title.map-tittle h5 {
    margin: 0px;
    margin-top: 8px;
}

.ibox-content {
    padding: 10px;
}

.ibox-content:after {
    content: '';
    display: table;
    clear: both;
}

.metismenu .fa.arrow:before {
    content: "\f105";
}

.widget-text-box:after {
    content: '';
    display: table;
    clear: both;
}

.forgot-content {
    display: block;
    padding: 10px 15px;
}

.bashbox-icon {
    display: inline-block;
    width: 100%;
    max-width: 70px;
    height: auto;
}

.bashbox-icon img {
    width: 100%;
    height: auto;
}

.checklist .list-group-item {
    padding: 10px 25px 10px 15px;
}

.route-proimg {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.widget-text {
    display: block;
    text-align: center;
    border-right: 1px solid #e7e7e7;
    padding: 20px 5px;
}

.widget-text h5 {
    margin: 0px;
}

.widget-text h2 {
    margin: 0px;
    margin-top: 8px;
}

.station-list {
    display: block;
    width: 100%;
    height: auto;
}

.station-list ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.station-list ul li {
    display: block;
    width: 100%;
    position: relative;
    height: 50px;
    padding-left: 40px;
    background: #f3f3f3;
    margin-bottom: 1px;
    padding-right: 10px;
}

.station-list ul li:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 8px;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    background: #f8ac59;
    border: 2px solid #333;
}

.station-list ul li:before {
    content: '';
    position: absolute;
    left: 18px;
    top: 0px;
    width: 6px;
    height: 102%;
    background: #333;
}

.station-list ul li:first-child:before {
    top: 9px;
}

.station-list ul li:last-child:before {
    content: '';
    position: absolute;
    height: 50%;
}

.station-list ul li.station-active:after {
    background: #1ab394;
}

.station-list ul li.station-end:after {
    background: #ed5565;
}

.station-content {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 10px;
}

.station-content h4 {
    margin: 0px;
    color: #000;
}

.detail-list li:after {
    content: '';
    display: table;
    clear: both;
}

.detail-list li label {
    margin: 0px;
    position: relative;
    font-size: 14px;
}

.detail-list li label:nth-child(2):before {
    content: ':';
    position: absolute;
    left: 0px;
    top: 0px;
}

.detail-list li label:nth-child(2) {
    font-weight: normal;
}

.checklist li p {
    font-size: 14px;
}

.checklist li label {
    font-weight: normal;
    font-size: 14px;
}

.addnew-qbox {
    display: block;
    width: 100%;
}

.table-show-select {
    padding: 6px 0px;
    width: 50px;
    display: inline-block;
}

.custom-pagin {
    margin-bottom: 0px;
}

.custom-pagin > .active > a, .custom-pagin > .active > a:hover {
    background: #069edb;
    color: #fff;
    border: 1px solid #069edb;
}

.form-common .control-label {
    font-weight: 400;
    position: relative;
}

.form-common .control-label:before {
    content: ':';
    position: absolute;
    top: 7px;
    right: 5px;
}

.form-common .form-control {
    font-size: 13px;
}

.form-common input.form-control {
    height: 38px;
}

.profile-boxz {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 280px;
    height: auto;
    text-align: center;
}

.profile-boxz img {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    border: 3px solid #ddd;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.children-list .chat-element img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.children-list .media-body a {
    font-weight: bold;
    font-size: 14px;
}

.children-list .media-body p {
    margin: 0;
    font-size: 14px;
}

.inmodal .modal-header {
    padding: 15px 15px;
    text-align: left;
}

.inmodal .modal-title {
    font-size: 18px;
}

.rating-box {
    width: 100%;
    max-width: 480px;
}

.rating-box h4 {
    font-weight: normal;
}

.rating-star .checked {
    color: orange;
}

ul.driver-reviewlist {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.driver-reviewlist li {
    width: 100%;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #ddd;
}

.driver-reviewlist li p {
    margin: 0px;
    font-size: 14px;
}

.ibox.box-shadow {
    box-shadow: 0px 0px 10px #ddd;
}

.add-fleet-list {
    max-height: 240px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 8px;
}

.add-fleet-list li a i.fa-check-square {
    font-size: 20px;
}

.fleet-list-checkbox {
    position: relative;
    padding-left: 0px;
}

.fleet-list-checkbox input[type="checkbox"] {
    position: absolute;
    right: 0px;
    opacity: 0;
    width: 17px;
    height: 17px;
    top: -3px;
}

.fleet-list-checkbox label {
    width: 100%;
    padding-right: 20px;
}

.fleet-list-checkbox label:before {
    width: 0;
    height: 0;
}

.fleet-list-checkbox label input[type="checkbox"] ~ span {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    right: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.fleet-list-checkbox label input[type="checkbox"]:checked ~ span:before {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #069edb;
    border-radius: 3px;
}

.fleet-list-checkbox label input[type="checkbox"]:checked ~ span:after {
    content: '';
    width: 6px;
    height: 11px;
    position: absolute;
    right: 5px;
    top: 1px;
    background: transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.footer {
    background: none repeat scroll 0 0 #069edb;
    border-top: 1px solid #069edb;
    padding: 3px 20px;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #fff;
}

#page-wrapper {
    min-height: calc(100vh - 70px) !important;
}

.table.table-common > thead:first-child > tr:first-child > th {
    background: -webkit-linear-gradient(#fff, #eee, #ccc);
    background: -o-linear-gradient(#fff, #eee, #ccc);
    background: -moz-linear-gradient(#fff, #eee, #ccc);
    background: linear-gradient(#fff, #eee, #ccc);
}

.table.table-common > thead:first-child > tr:first-child > th {
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

table tbody tr td .btn {
    margin-bottom: 0px !important;
}

.note-editable {
    height: 150px;
}

.fleetStep {
    margin: 0 auto;
    width: 100%;
    max-width: 767px;
}

@media (max-width: 767px) {
    .form-common .control-label:before {
        top: 0px;
    }
}

@media (max-width: 480px) {
    .widget-text-box .col-xs-4.padd0 {
        width: 100%;
    }

    .widget-text {
        border-right: 0px;
        border-bottom: 1px solid #e7e7e7;
        padding: 10px;
    }
}
