body {
    padding-top: 70px;
}

.padd0 {
    padding: 0px !important;
}

.padd5 {
    padding: 5px !important;
}

.padd10 {
    padding: 10px !important;
}

.padd15 {
    padding: 15px !important;
}

.mr0 {
    margin: 0px !important;
}

.pLR5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pLR6 {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.pLR10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pLR15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pt1 {
    padding-top: 1px !important;
}

.pt2 {
    padding-top: 0px !important;
}

.pt3 {
    padding-top: 3px !important;
}

.pt4 {
    padding-top: 4px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mt1 {
    margin-top: 1px !important;
}

.mt2 {
    margin-top: 2px !important;
}

.mt3 {
    margin-top: 3px !important;
}

.mt4 {
    margin-top: 4px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt6 {
    margin-top: 6px !important;
}

.mt7 {
    margin-top: 7px !important;
}

.mt8 {
    margin-top: 8px !important;
}

.mt9 {
    margin-top: 9px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb1 {
    margin-bottom: 1px !important;
}

.mb2 {
    margin-bottom: 2px !important;
}

.mb3 {
    margin-bottom: 3px !important;
}

.mb3 {
    margin-bottom: 4px !important;
}

.mb4 {
    margin-bottom: 5px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mr1 {
    margin-right: 1px !important;
}

.mr2 {
    margin-right: 2px !important;
}

.mr3 {
    margin-right: 3px !important;
}

.mr4 {
    margin-right: 4px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mL0 {
    margin-left: 0px !important;
}

.mL1 {
    margin-left: 1px !important;
}

.mL2 {
    margin-left: 2px !important;
}

.mL3 {
    margin-left: 3px !important;
}

.mL4 {
    margin-left: 4px !important;
}

.mL5 {
    margin-left: 5px !important;
}

.ht50 {
    height: 50px;
}

.ht60 {
    height: 60px;
}

.ht70 {
    height: 70px;
}

.ht80 {
    height: 80px;
}

.ht90 {
    height: 90px;
}

.ht50 {
    height: 50px;
}

.ht100 {
    height: 100px;
}

.width-50 {
    width: 50px !important;
}

.width-60 {
    width: 60px !important;
}

.width-70 {
    width: 70px !important;
}

.width-80 {
    width: 80px !important;
}

.width-90 {
    width: 90px !important;
}

.width-100 {
    width: 100px !important;
}

.width-110 {
    width: 110px !important;
}

.width-120 {
    width: 120px !important;
}

.width-130 {
    width: 130px !important;
}

.width-150 {
    width: 140px !important;
}

.width-150 {
    width: 150px !important;
}

.width-160 {
    width: 160px !important;
}

.size20 {
    font-size: 20px;
}

.Dblock {
    display: block;
}

.in-block {
    display: inline-block !important;
}

.no-resize {
    resize: none;
}

.border-LT-gray {
    border: 1px solid #e7eaec;
}

.btn-success {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
}

.btn-success:hover, .btn-success.active, .btn-success:focus {
    background: #179a80;
}

.title-red {
    background: #c34552;
    color: #fff;
}

.title-navy {
    background: #0880b1;
    color: #fff;
}

.title-lazur {
    background: #1a999a;
    color: #fff;
}

.title-yellow {
    background: #d67d1c;
    color: #fff;
}

.title-green {
    background: #179a80;
    color: #fff;
}

.ibox-bdr-red {
    border-top: 1px solid #c34552;
}

.ibox-bdr-navy {
    border-top: 1px solid #0880b1;
}

.ibox-bdr-lazur {
    border-top: 1px solid #1a999a;
}

.ibox-bdr-yellow {
    border-top: 1px solid #d67d1c;
}

.ibox-bdr-green {
    border-top: 1px solid #179a80;
}

.green-bg {
    background-color: #1ab394;
    color: #ffffff;
}

.ui-helper-hidden-accessible {
    display: none;
}

.profile-header {
    display: block;
    width: 100%;
    text-align: center;
    padding: 30px 0px;
}

.profile-header h5 {
    margin: 0px;
    margin-top: 10px;
    color: #ccc;
}

.loginscreen.middle-box {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
}

.logo-box {
    display: block;
    width: 100%;
    padding: 20px 0px;
    border-bottom: 1px solid #e7eaec;
    margin-bottom: 10px;
}

.full-btn-group {
    width: 100%;
}

.logo-login {
    width: 100%;
    max-width: 220px;
    height: auto;
    margin: 0px auto;
}

.logo-login img {
    width: 100%;
    height: auto;
}

.login-content {
    display: block;
    padding: 20px;
}

.btn-group-login {
    width: 50%;
    display: inline-block;
}

.btn-primary.active.focus {
    background-color: #0f8cbf;
    border-color: #0f8cbf;
    color: #FFFFFF;
    box-shadow: none;
    outline: none;
}

.wrapper-content {
    padding: 20px 5px 40px;
}

.logo-dashboard {
    display: inline-block;
    float: right;
    width: 100%;
    max-width: 220px;
    height: auto;
    padding: 13px 15px;
}

.logo-dashboard img {
    width: 100%;
    height: auto;
}

.navbar-right.profile-left {
    float: left !important;
}

.userprofile {
    text-align: center;
    background-color: #2f4050;
    background-image: url(patterns/header-profile.png);
}

.userprofile a {
    display: block;
}

.userprofile img {
    width: 60px;
    height: 60px;
}

#wrapper {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 70px);
}

body.mini-navbar .navbar-static-side {
    width: 70px;
}

body.mini-navbar .userprofile a.mt5 {
    display: none;
}

body.mini-navbar .nav-header {
    padding: 10px 0px;
}

.nav-header {
    padding: 20px 15px
}

.profile-element img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.navbar-top-links li a {
    padding: 11px 10px;
}

.minimalize-styl-2 {
    margin: 19px 5px 5px 20px;
}

.dropdown-menu.dropdown-alerts {
    width: 160px;
    padding: 0px 5px;
}

.navbar-top-links .dropdown-menu li a {
    padding: 0px;
}

.navbar-right {
    margin-right: 0px;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.ibox {
    border: 1px solid #e7eaec;
    border-top: 0px;
}

.ibox-title {
    padding: 15px 10px;
}

.ibox-title h2 {
    margin: 0px;
    font-size: 22px;
}

.ibox-title.map-tittle h5 {
    margin: 0px;
    margin-top: 8px;
}

.ibox-content {
    padding: 10px;
}

.ibox-content:after, .ibox-title:after {
    content: '';
    display: table;
    clear: both;
}

.metismenu .fa.arrow:before {
    content: "\f105";
}

.widget-text-box:after {
    content: '';
    display: table;
    clear: both;
}

.forgot-content {
    display: block;
    padding: 10px 15px;
}

.page-heading {
    padding: 20px 10px;
}

.bashbox-icon {
    display: inline-block;
    width: 100%;
    max-width: 70px;
    height: auto;
}

.bashbox-icon img {
    width: 100%;
    height: auto;
}

.checklist .list-group-item {
    padding: 10px 25px 10px 15px;
}

.route-proimg {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.widget-text {
    display: block;
    text-align: center;
    border-right: 1px solid #e7e7e7;
    padding: 20px 5px;
}

.widget-text h5 {
    margin: 0px;
}

.widget-text h2 {
    margin: 0px;
    margin-top: 8px;
}

.station-list {
    display: block;
    width: 100%;
    height: auto;
}

.station-list ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.station-list ul li {
    display: block;
    width: 100%;
    position: relative;
    height: 50px;
    padding-left: 40px;
    background: #f3f3f3;
    margin-bottom: 1px;
    padding-right: 10px;
}

.station-list ul li:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 8px;
    width: 26px;
    height: 26px;
    border-radius: 26px;
    background: #f8ac59;
    border: 2px solid #333;
}

.station-list ul li:before {
    content: '';
    position: absolute;
    left: 18px;
    top: 0px;
    width: 6px;
    height: 102%;
    background: #333;
}

.station-list ul li:first-child:before {
    top: 9px;
}

.station-list ul li:last-child:before {
    content: '';
    position: absolute;
    height: 50%;
}

.station-list ul li.station-active:after {
    background: #1ab394;
}

.station-list ul li.station-end:after {
    background: #ed5565;
}

.station-content {
    display: block;
    width: 100%;
    position: relative;
    padding-top: 10px;
}

.station-content h4 {
    margin: 0px;
    color: #000;
}

.detail-list li:after {
    content: '';
    display: table;
    clear: both;
}

.detail-list li label {
    margin: 0px;
    position: relative;
    font-size: 13px;
}

.detail-list li label:nth-child(2):before {
    content: ':';
    position: absolute;
    left: 0px;
    top: 0px;
}

.detail-list li label:nth-child(2) {
    font-weight: normal;
}

.checklist li p {
    font-size: 14px;
}

.checklist li label {
    font-weight: normal;
    font-size: 14px;
}

.addnew-qbox {
    display: block;
    width: 100%;
}

.table-show-select {
    padding: 6px 0px;
    width: 50px;
    display: inline-block;
}

.custom-pagin {
    margin-bottom: 0px;
    margin-top: 15px;
}

.custom-pagin > .active > a, .custom-pagin > .active > a:hover {
    background: #069edb;
    color: #fff;
    border: 1px solid #069edb;
}

.form-common .control-label {
    font-weight: 400;
    position: relative;
}

.form-group:after {
    content: '';
    display: table;
    clear: both;
}

/*.form-common .control-label:before{content:':'; position:absolute; top:9px; right:5px;}*/
.form-common .form-control {
    font-size: 13px;
}

/*.form-common input.form-control{height:38px;}*/
.form-common select.form-control {
    padding: 6px 2px;
}

.profile-boxz {
    display: block;
    margin: 10px auto;
    width: 100%;
    width: 120px;
    height: 120px;
    position: relative;
}

.profile-boxz img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid #ddd;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    display: block;
    clear: both;
}

.profile-boxz .camera-icon {
    position: absolute;
    bottom: 5px;
    right: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: rgba(190, 190, 190, 0.8);
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: #666;
    text-align: center;
}

.profile-boxz .camera-icon:hover {
    color: #069edb;
}

.children-list .chat-element img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.children-list .media-body a {
    font-weight: bold;
    font-size: 14px;
}

.children-list .media-body p {
    margin: 0;
    font-size: 14px;
}

.inmodal .modal-header {
    padding: 15px 15px;
    text-align: left;
}

.inmodal .modal-title {
    font-size: 18px;
}

.rating-box {
    width: 100%;
    max-width: 480px;
}

.rating-box h4 {
    font-weight: normal;
}

.rating-star .checked {
    color: orange;
}

ul.driver-reviewlist {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.driver-reviewlist li {
    width: 100%;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #ddd;
}

.driver-reviewlist li p {
    margin: 0px;
    font-size: 14px;
}

.ibox.box-shadow {
    box-shadow: 0px 0px 10px #ddd;
}

.add-fleet-list {
    max-height: 240px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 8px;
}

.add-fleet-list li a i.fa-check-square {
    font-size: 20px;
}

.fleet-btnBox {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.fleet-btnBox .btn {
    margin-bottom: 0px;
    padding: 8px 16px;
}

.fleet-list-checkbox {
    position: relative;
    padding-left: 0px;
}

.fleet-list-checkbox input[type="checkbox"] {
    position: absolute;
    right: 0px;
    opacity: 0;
    width: 17px;
    height: 17px;
    top: -3px;
}

.fleet-list-checkbox label {
    width: 100%;
    padding-right: 20px;
}

.fleet-list-checkbox label:before {
    width: 0;
    height: 0;
}

.fleet-list-checkbox label input[type="checkbox"] ~ span {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    right: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.fleet-list-checkbox label input[type="checkbox"]:checked ~ span:before {
    content: '';
    width: 17px;
    height: 17px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #069edb;
    border-radius: 3px;
}

.fleet-list-checkbox label input[type="checkbox"]:checked ~ span:after {
    content: '';
    width: 6px;
    height: 11px;
    position: absolute;
    right: 5px;
    top: 1px;
    background: transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.footer {
    background: none repeat scroll 0 0 #069edb;
    border-top: 1px solid #069edb;
    padding: 3px 20px;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #fff;
}

#page-wrapper {
    min-height: calc(100vh - 70px) !important;
}

.table.table-common > thead:first-child > tr:first-child > th {
    background: -webkit-linear-gradient(#fff, #eee, #ccc);
    background: -o-linear-gradient(#fff, #eee, #ccc);
    background: -moz-linear-gradient(#fff, #eee, #ccc);
    background: linear-gradient(#fff, #eee, #ccc);
}

.table.table-common > thead:first-child > tr:first-child > th {
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 600;
    color: #333;
}

table tbody tr td .btn {
    margin-bottom: 0px !important;
}

.note-editable {
    height: 150px;
}

.fleetStep {
    margin: 0 auto;
    width: 100%;
    max-width: 767px;
}

.bootstrap-touchspin input.form-control {
    height: 34px;
}

.chosen-container-single .chosen-single {
    height: 38px;
    line-height: 38px !important;
    border-radius: 0px !important;
}

.chosen-container-single .chosen-single div b {
    background-position: 0 10px !important;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 10px !important;
}

.chosen-container-single .chosen-drop {
    margin-top: 0px !important;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #069edb !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #069edb !important;
}

.select-pd {
    padding: 6px 2px 6px 2px;
}

.tabs-container .custnav-tab > li {
    margin-bottom: 12px;
}

.tabs-container .custnav-tab > li > a {
    background: #dedede;
    border-radius: 2px;
    font-weight: 100;
    font-size: 14px;
    color: #333;
    padding: 8px 20px 8px 25px;
    margin-right: 6px;
    position: relative;
}

.tabs-container .custnav-tab > li > a:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -17px;
    z-index: 1;
    margin-left: -5px;
    border-top: 8px solid #dedede;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.tabs-container .custnav-tab > li > a:hover:before {
    border-top: 8px solid #ccc;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.tabs-container .custnav-tab > li.active > a:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -17px;
    z-index: 1;
    margin-left: -5px;
    border-top: 8px solid #069edb;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.tabs-container .custnav-tab > li > a:hover {
    background: #ccc;
}

.tabs-container .custnav-tab > li.active > a,
.tabs-container .custnav-tab > li.active > a:hover,
.tabs-container .custnav-tab > li.active > a:focus {
    border: 1px solid #069edb;
    background: #069edb;
    color: #fff;
}

.form-addRoute {
    width: 100%;
    padding-right: 80px;
}

.input-addremove {
    position: relative;
    width: 100%;
    height: auto;
}

.addremove-box {
    position: absolute;
    right: -60px;
    top: 0px;
}

.addremove-box .btn {
    padding: 2px 6px;
    border-radius: 20px;
    margin-top: 6px;
}

.form-common .checkbox, .form-horizontal .radio {
    min-height: auto;
}

.notiTimebox {
    position: absolute;
    right: 15px;
    top: 8px;
    width: 90px;
    height: auto;
    text-align: right;
}

.notiTimebox small {
    color: #888;
}

.notiList .list-group-item {
    padding: 10px 100px 10px 15px;
}

.notiList li p {
    margin: 0px;
    font-size: 13px;
}

.notiList li label {
    font-weight: normal;
    font-size: 14px;
}

.setting-box {
    width: 100%;
    text-align: center;
    padding: 25px 10px;
}

.setting-box h3 {
    margin: 0px;
    margin-top: 10px;
    color: #069edb;
    font-weight: 400;
}

.bg-viewTicket td {
    background: #23c6c8;
    color: #fff;
}

.permissionbox.todo-list.small-list > li {
    display: inline-block;
    padding: 2px 8px;
}

.cust-tittel {
    padding: 15px 10px 5px 10px !important;
}

.title-heading {
    font-size: 18px;
    font-weight: 100;
    margin: 0px;
}

.checkbox-text label {
    font-size: 16px;
}

.checkbox-text label::before {
    top: 2px;
}

.dateTime span {
    font-size: 18px;
}

.upload-imgbox {
    cursor: pointer;
    text-align: center;
    width: 100%;
    color: #e5e6e7;
}

.upload-imgbox:hover {
    color: #999;
}

.rbox {
    border-top: 1px solid #d6d6d6;
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
}

.rbox:after {
    content: '';
    display: table;
    clear: both;
}

.custHr {
    border-top: 1px solid #069edb;
    margin-bottom: 10px;
}

.chosen-container-active .chosen-choices {
    border: 1px solid #069edb
}

.bdr-top {
    border: 0px;
    border-top: 1px solid #e7eaec;
}

.feed-activity-list .feed-element:last-child {
    border: 0px;
    padding-bottom: 0px;
}

.navbar-static-side {
    overflow: hidden;
    overflow-y: auto;
    height: calc(100% - 70px);
}

.nav-second-level li a {
    padding-left: 40px;
}

.rating-give {
    display: block;
    width: 100%;
    position: relative;
    padding-left: 15px;
}

.rating-give ol {
    margin: 0px;
    padding: 0px;
}

.rating-give ol li {
    width: 100%;
    position: relative;
    padding: 4px 60px 4px 0px;
}

.rating-give ol li .ratinput {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    height: 25px;
    margin-bottom: 5px;
    padding-right: 20px;
}

.rating-give ol li .ratinput i.fa {
    position: absolute;
    right: 0px;
    top: 5px;
    font-size: 16px;
    color: orange;
}

.rating-give ol li .ratinput input {
    width: 100%;
    height: 25px;
    border: 1px solid #ddd;
    text-align: center;
}

.rating-give ol li:last-child {
    list-style: none;
}

.note-editor.note-frame {
    border: 1px solid #ddd;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px;
}

.select2-container .select2-selection--single {
    height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px;
}

/*************Amit***********/
.nav li a.nav-menu {
    padding: 14px 20px 14px 12px;
}

.white-bg.header-bg {
    background-color: #faebd7 !important;
}

.company-name {
    float: left;
    width: 100%;
    max-width: 200px;
    text-align: center;
}

.company-name img {
    width: 69px;
    height: 69px;
}

.company-name h2 {
    color: #000;
    font-weight: 400;
    text-align: center;
}

.nav li.dashboard-txt {
    padding-top: 12px;
}

/***************************/

@media (max-width: 991px) {
    .wrapper-content {
        padding: 10px;
    }

    #page-wrapper {
        padding: 0px;
    }

    .navbar-top-links li:last-child {
        margin-right: 0px;
    }
}

@media (max-width: 767px) {
    .form-common .control-label:before {
        top: 0px;
    }

    .navbar-top-links li:last-child {
        float: right;
    }

    .form-common .control-label:before {
        content: '';
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 60px;
    }

    .widget-text-box .col-xs-4.padd0 {
        width: 100%;
    }

    .widget-text {
        border-right: 0px;
        border-bottom: 1px solid #e7e7e7;
        padding: 10px;
    }

    .nav.navbar-top-links li.dropdown {
        display: block;
    }

    .logo-dashboard {
        padding: 10px;
        max-width: 190px;
    }

    .navbar-header .minimalize-styl-2 {
        margin: 15px 5px 5px 10px;
    }

    .navbar-top-links li a {
        padding: 6px 6px 5px 6px;
    }

    .table-show {
        margin-bottom: 10px;
    }

    .wrapper-content {
        padding: 5px;
    }

    .notiList .list-group-item {
        padding: 10px 15px;
    }

    .notiTimebox {
        position: relative;
        right: auto;
        top: auto;
        width: auto;
        height: auto;
        text-align: left;
        margin-top: 5px;
    }
}
